extends _pug-includes/layout.pug

block vars
    - var loggedUser = true

block content

    - var breadcrumbs = []
    - breadcrumbs.push({name: 'Home', link: 'index.html'})
    - breadcrumbs.push({name: 'Add new listing'})
    - var heroHeading = 'Add new listing'
    - var heroHeadingClass = 'hero-heading mb-5'

    //- include _pug-includes/inc-hero

    +progress(80)

    section.py-5
        .container

            +stepsHeading('Contact', 3)

            form(action=`${path}user-add-4` method="post")
                .row.form-block
                    .col-lg-4
                        h4 연락
                        // p.text-muted.text-sm #{dummyText[2]}
                    .col-lg-7.ml-auto
                        .form-group
                            label.form-label(for="phone_number") 연락처
                            input.form-control(name="phone_number", placeholder='010-1234-5678 or 02-345-6789', type='tel',pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}", id="phone_number")
                            label.form-label.mt-3(for="email") email
                            input.form-control(name="email", type='email', id="email", placeholder='abc@gmail.com')
                            label.form-label.mt-3(for="page") page
                            input.form-control(name="page", type='url', id="page", placeholder="https://allplace.kr")
                            .small.form-text.text-muted 장소와 관련된 페이지가 있다면 여기에 주소를 적어주세요!
                            label.form-label.mt-3(for="facebook_page") facebook
                            input.form-control(name="facebook_page", type='url', id="facebook_page", placeholder="https://www.facebook.com")
                            .small.form-text.text-muted 장소와 관련된 페이스북 페이지가 있다면 여기에 주소를 적어주세요!
                            label.form-label.mt-3(for="instagram_page") instagram
                            input.form-control(name="instagram_page", type='url', id="instagram_page", placeholder="https://www.instagram.com")
                            .small.form-text.text-muted 장소와 관련된 인스타그램 페이지가 있다면 여기에 주소를 적어주세요!


                .row.form-block.d-none
                    .form-group.d-none
                        input(name="name" value=`${placeInfo.name}`)
                        input(name="category" value=`${placeInfo.category}`)
                        input(name="door" value=`${placeInfo.door}`)
                        input(name="latitude" value=`${placeInfo.latitude}`)
                        input(name="longitude" value=`${placeInfo.longitude}`)
                        input(name="address" value=`${placeInfo.address}`)
                        input(name="explanation" value=`${placeInfo.explanation}`)
                        input(name="tag" value=`${placeInfo.tag}`)
                        input(name="filename" value=`${placeInfo.filename}`)
                        input(name="openTime" value=`${placeInfo.openTime}`)
                        input(name="closeTime" value=`${placeInfo.closeTime}`)
                        //input(name="amenities" value=`${placeInfo.amenities}`)
                +stepsAdd(4)
