- var result = []
- for(let i =0 ; i< reviews.length; i++ , count++)
    - var time = String(reviews[i].datetime)
    - result.push({name: `${reviews[i].user_id}`, role: 'founder', image: 'img/avatar/avatar-8.jpg', date: `${time}`, stars: `${reviews[i].starpoint}`})

- stars = [1,2,3,4,5]

each val, index in result
    .media.d-block.d-sm-flex.review.p-0.pb-2.mt-2.mb-3(style="border-bottom:none")
        .text-md-center.mr-2.mr-xl-4
            // 태블릿 or pc 이미지
            img.avatar.avatar-lg.p-1.mb-2.d-sm-block.d-none(src=val.image, alt=val.name)
            // 휴대폰 이미지
            img.avatar.avatar-md.d-sm-none.d-inline-block(src=val.image, alt=val.name, style="vertical-align:top")
            // 휴대폰 사용자 이름 및 날짜
            div.d-sm-none.d-inline-block.pl-3
                h6.d-block #{val.name}
                //span.pl-1
                //    for star, starIndex in stars
                //        if (starIndex + 1 <= val.stars)
                //            i.fa.fa-xs.fa-star.text-primary
                //        else
                //            i.fa.fa-xs.fa-star.text-gray-200
                div.text-uppercase.text-muted.text-sm #{val.date}
        .media-body
            h6.mt-2.mb-1.d-none.d-sm-block #{val.name}
            div.text-uppercase.text-muted.text-sm.d-none.d-sm-block #{val.date}
            .mb-2
                for star, starIndex in stars
                    if (starIndex + 1 <= val.stars)
                        i.fa.fa-xs.fa-star.text-primary
                    else
                        i.fa.fa-xs.fa-star.text-gray-200
            p.text-muted.text-sm #{reviews[index].contents}