extends _pug-includes/layout.pug

block vars 
    - var active = 'category'
    - var mapUsed = true
    - var hideTopbar = true

block content

    .container-fluid
        .row
            .col-lg-6.py-5.p-xl-5
                .row.ml-0.p-0
                    //h1.display-4.font-weight-bold.text-serif.mb-4 #{searchWord}
                    h1.mb-4.text-xl.font-weight-bold.d-none.d-sm-block #{searchLocation}, #{searchWord}에 대한 결과
                    .col-12
                        a.btn.btn-outline-primary.mb-4.float-right(href=`/category?search=${searchWord}&location=${searchLocation}&sort=${sortCategory}&lat=${lat}&lon=${lon}`)
                            | 지도 보지 않기

                include _pug-includes/inc-var-neighbourhoods.pug


                    .row.border-top.pt-3
                        .col-12.col-md-6.mb-4
                            label.form-label 시간
                            ul.list-inline.mb-0
                                li.list-inline-item
                                    .custom-control.custom-radio
                                        if (filterTimeCurrent === 'true')
                                            input.custom-control-input.checkTime(type='checkbox', id=`time_0`, name="time", value=`지금` checked)
                                        else
                                            input.custom-control-input.checkTime(type='checkbox', id=`time_0`, name="time", value=`지금`)
                                        label.custom-control-label(for=`time_0`) 지금
                                li.list-inline-item
                                    .custom-control.custom-radio
                                        if (filterTimeMorning === 'true')
                                            input.custom-control-input.checkTime(type='checkbox', id=`time_1`, name="time", value=`오전` checked)
                                        else
                                            input.custom-control-input.checkTime(type='checkbox', id=`time_1`, name="time", value=`오전`)
                                        label.custom-control-label(for=`time_1`) 오전
                                li.list-inline-item
                                    .custom-control.custom-radio
                                        if (filterTimeAfternoon === 'true')
                                            input.custom-control-input.checkTime(type='checkbox', id=`time_2`, name="time", value=`오후` checked)
                                        else
                                            input.custom-control-input.checkTime(type='checkbox', id=`time_2`, name="time", value=`오후`)
                                        label.custom-control-label(for=`time_2`) 오후
                                li.list-inline-item
                                    .custom-control.custom-radio
                                        if (filterTimeNight === 'true')
                                            input.custom-control-input.checkTime(type='checkbox', id=`time_3`, name="time", value=`저녁` checked)
                                        else
                                            input.custom-control-input.checkTime(type='checkbox', id=`time_3`, name="time", value=`저녁`)
                                        label.custom-control-label(for=`time_3`) 저녁

                        .col-12.col-md-6.mb-4
                            label.form-label(for="form_search") 결과 내 재검색
                            .input-label-absolute.input-label-absolute-right
                                .label-absolute
                                    i.fa.fa-search
                                input.form-control.pr-4(type="search", name="search", placeholder="Keywords", id="form_search")

                        .col-12.mb-4.label.form-label 거리
                            input.form-control-range(id="filterDistance" type="range" min="0" max="10" step="0.1" value=`${filterDistance}` oninput="document.getElementById('distanceValuelabel').innerHTML=this.value + 'km';")
                            #distanceValuelabel.form-label.float-right #{filterDistance}km


                        //.col-xl-4.col-md-6.mb-4
                        //    label.form-label(for="form_neighbourhood") Neighbourhood
                        //    select.selectpicker.form-control(name="neighbourhood", id="form_neighbourhood", multiple, data-style="btn-selectpicker", data-live-search="true", data-selected-text-format="count > 1", title="")
                        //        each val, index in neighbourhoods
                        //            option(value=`neighbourhood_${index}`) #{val}
                        //.col-xl-4.col-md-6.mb-4
                        //    - var restaurantTypes = ['Hipster', 'Music club', 'Bar', 'Pub', 'Deli', 'Bistro']
                        //    label.form-label(for="form_category") Category
                        //    select.selectpicker.form-control(name="category", id="form_category", multiple, data-style="btn-selectpicker", data-selected-text-format="count > 1", title="")
                        //        each val, index in restaurantTypes
                        //            option(value=`category_${index}`) #{val}
                        //.col-12.mb-4
                        //    .mb-4
                        //        - var cuisineTypes = ['Fusion', 'Indian', 'French', 'American', 'Mexican', 'Other']
                        //        label.form-label Cuisine
                        //        ul.list-inline.mb-0
                        //            each val,index in cuisineTypes
                        //                li.list-inline-item
                        //                    .custom-control.custom-checkbox
                        //                        input.custom-control-input(type='checkbox', id=`cuisine_${index}`, name="cuisine[]")
                        //                        label.custom-control-label(for=`cuisine_${index}`) #{val}
                            // - var restaurantTypes = ['Hipster', 'Music club', 'Bar', 'Pub', 'Deli', 'Bistro']
                            // label.form-label Tag
                            // ul.list-inline.mb-0
                            //     each val,index in restaurantTypes
                            //         li.list-inline-item
                            //             .custom-control.custom-checkbox
                            //                 input.custom-control-input(type='checkbox', id=`type_${index}`, name="type[]")
                            //                 label.custom-control-label(for=`type_${index}`) #{val}


                        //.col-12.pb-4
                        //    #moreFilters.collapse
                        //        //.mb-4
                        //        //    - var cuisineTypes = ['Fusion', 'Indian', 'French', 'American', 'Mexican', 'Other']
                        //        //    label.form-label Cuisine
                        //        //    ul.list-inline.mb-0
                        //        //        each val,index in cuisineTypes
                        //        //            li.list-inline-item
                        //        //                .custom-control.custom-checkbox
                        //        //                    input.custom-control-input(type='checkbox', id=`cuisine_${index}`, name="cuisine[]")
                        //        //                    label.custom-control-label(for=`cuisine_${index}`) #{val}
                        //        .row
                        //            .col-xl-6.mb-4
                        //                label.form-label Price
                        //
                        //                #slider-snap.text-primary
                        //                .nouislider-values
                        //                    .min From $
                        //                        span#slider-snap-value-from
                        //                    .max To $
                        //                        span#slider-snap-value-to
                        //                input(type="hidden", name="pricefrom", id="slider-snap-input-from", value="40")
                        //                input(type="hidden", name="priceto",  id="slider-snap-input-to", value="110")
                        //
                        //            .col-xl-6.mb-4
                        //                label.form-label Vegetarians
                        //                - var vegetarians = ['All', 'Vegetarian only']
                        //                ul.list-inline.mb-0
                        //                    each val,index in vegetarians
                        //                        li.list-inline-item
                        //                            .custom-control.custom-radio
                        //                                input.custom-control-input(type='radio', id=`vegetarians_${index}`, name="vegetarians")
                        //                                label.custom-control-label(for=`vegetarians_${index}`) #{val}

                        .col-12.mb-4
                            button.btn.btn-primary(onclick='mapFilterUse()')
                                i.fas.fa-filter.mr-1
                                | 상세검색
                        //.col-6.mb-4.text-right
                            +collapseButton('moreFilters', 'More filters', 'Less filters')

                hr.my-4

                include _pug-includes/inc-category-map-sortby.pug

                - var itemClass = 'col-sm-6 mb-5 hover-animate'

                //.row
                    each val, index in restaurantsJson.features
                        +venue(val.properties, itemClass)
                .row
                    if allPlace != undefined
                        each val, index in allPlace
                            +venue(val, itemClass)


                include _pug-includes/inc-map-pagination.pug
            // 카카오맵 추가
            .col-lg-6.map-side-lg.pr-lg-0
                div(id="map")
                    // +, - 버튼
                    //div.leaflet-top.leaflet-left
                    //    div.leaflet-control-zoom.leaflet-bar.leaflet-control
                    //        a.leaflet-control-zoom-In(onclick="zoomIn()")
                    //            |+
                    //        a.leaflet-control-zoom-Out(onclick="zoomOut()")
                    //            |-

                //#categorySideMap.map-full.shadow-left


block additionalScripts

    include _pug-includes/scripts-map.pug
    // 카카오맵

    script(src='js/map-custom.js')


    //script(src='js/map-category.js')
    //script.
    //    createListingsMap({
    //        mapId: 'categorySideMap',
    //        jsonFile: 'js/restaurants-geojson.json',
    //        //tileLayer: tileLayers[5]  - uncomment for a different map styling
    //    });

    //include _pug-includes/scripts-nouislider.pug
    //include _pug-includes/scripts-nouislider-distance.pug