extends _pug-includes/layout.pug

block vars
    - var loggedUser = true

block content
       
    - var breadcrumbs = []
    - breadcrumbs.push({name: 'Home', link: 'index.html'})
    - breadcrumbs.push({name: 'Add new listing'})
    - var heroHeading = 'Add new listing'
    - var heroHeadingClass = 'hero-heading mb-5'
    
    //- include _pug-includes/inc-hero
    
    +progress(60)

    section.py-5
        .container
            
            +stepsHeading('Disposition and Amenities', 3)

            form(action=`${path}user-add-4` method="post")
                .row.form-block
                    .col-lg-4
                        h4 Amenities
                        p.text-muted.text-sm #{dummyText[2]}
                    .col-lg-7.ml-auto
                        .form-group
                            - var amenities = ['Kitchen', 'Shampoo', 'Heating', 'Air conditioning', 'Washer', 'Dryer', 'Wifi', 'Breakfast', 'Indoor fireplace', 'Buzzer/wireless intercom', 'Doorman', 'Hangers', 'Iron', 'Hair dryer', 'Laptop friendly workspace']

                            label.form-label Available Amenities
                            ul.list-inline.mb-0
                                each val,index in amenities
                                    li.list-inline-item
                                        .custom-control.custom-checkbox
                                            input.custom-control-input(type='checkbox', id=`amenities_${index}`, name="amenities[]")
                                            label.custom-control-label.text-muted(for=`amenities_${index}`) #{val}
                .row.form-block.d-none
                    .form-group.d-none
                        input(name="name" value=`${placeInfo.name}`)
                        input(name="category" value=`${placeInfo.category}`)
                        input(name="door" value=`${placeInfo.door}`)
                        input(name="latitude" value=`${placeInfo.latitude}`)
                        input(name="longitude" value=`${placeInfo.longitude}`)
                        input(name="address" value=`${placeInfo.address}`)
                        input(name="oTime" value=`${placeInfo.oTime}`)
                        input(name="cTime" value=`${placeInfo.cTime}`)
                        input(name="explanation" value=`${placeInfo.explanation}`)
                        input(name="tag" value=`${placeInfo.tag}`)
                +stepsAdd(3)
