extends _pug-includes/layout.pug


block vars
    - var loggedUser = true

block content
       
    - var breadcrumbs = []
    - breadcrumbs.push({name: 'Home', link: 'index.html'})
    - breadcrumbs.push({name: 'Add new listing'})
    - var heroHeading = 'Add new listing'
    - var heroHeadingClass = 'hero-heading mb-5'
    
    //- include _pug-includes/inc-hero
    
    +progress(50)

    section.py-5
        .container

            +stepsHeading('장소 추가')

            form(action=`${path}user-add-5` method="post")
                .row.form-block
                    .col-lg-4
                        h4 기본정보

                    .col-lg-7.ml-auto
                        .form-group

                        .form-group
                            label.form-label(for="form_name") 이름
                            input.form-control(name="form_name", id="form_name", required)

                        .form-group
                            - var types = ['카페', '음식점', '공연', '명소']
                            label.form-label(for="form_type") 장소
                            select.selectpicker.form-control(name="type", id="form_type", data-style="btn-selectpicker", title="", aria-describedby="propertyTypeHelp", required)
                                option(selected) 장소
                                each val, index in types
                                    option(value=`${val}`) #{val}
                            //small#propertyTypeHelp.form-text.text-muted #{dummyText[5]}

                        .form-group
                            label.form-label 실내외
                            select.selectpicker.form-control(name="door", id="door", data-style="btn-selectpicker", title="", aria-describedby="propertyTypeHelp", required)
                                option(selected) 실내외
                                option(value="0") 실내
                                option(value="1") 야외
                                option(value="2") 실내 및 야외
                .row.form-block
                    .col-lg-4
                        h4 장소 설명
                        //p.text-muted.text-sm  #{dummyText[3]}
                    .col-lg-7.ml-auto
                        .form-group.mb-5
                            label.form-label(for="form_description") 장소의 특징을 알려주세요
                            textarea.form-control(name="explanation", id="form_description", onchange="checkTag(this)", rows="5", aria-describedby="descriptionHelp", required)
                            textarea.d-none.form-control(name="tag" id="hide_tag_box")
                            div(id="description_tag_box")
                        .row
                            .col-md-6
                                .form-group
                                    label.form-label(for="open_time") 여는 시간
                                    input.form-control(type="time", name="oTime", id="open_time", required)
                            .col-md-6
                                .form-group
                                    label.form-label(for="close_time") 닫는 시간
                                    input.form-control(type="time", name="cTime", id="close_time", required )




                .row.form-block
                    .col-lg-4
                        h4 위치
                        //p.text-muted.text-sm #{dummyText[3]}
                    .col-lg-7.ml-auto
                        // Country
                        .form-group
                            - var country_list = ["Afghanistan","Albania","Algeria","Andorra","Angola","Anguilla","Antigua &amp; Barbuda","Argentina","Armenia","Aruba","Australia","Austria","Azerbaijan","Bahamas","Bahrain","Bangladesh","Barbados","Belarus","Belgium","Belize","Benin","Bermuda","Bhutan","Bolivia","Bosnia &amp; Herzegovina","Botswana","Brazil","British Virgin Islands","Brunei","Bulgaria","Burkina Faso","Burundi","Cambodia","Cameroon","Cape Verde","Cayman Islands","Chad","Chile","China","Colombia","Congo","Cook Islands","Costa Rica","Cote D Ivoire","Croatia","Cruise Ship","Cuba","Cyprus","Czech Republic","Denmark","Djibouti","Dominica","Dominican Republic","Ecuador","Egypt","El Salvador","Equatorial Guinea","Estonia","Ethiopia","Falkland Islands","Faroe Islands","Fiji","Finland","France","French Polynesia","French West Indies","Gabon","Gambia","Georgia","Germany","Ghana","Gibraltar","Greece","Greenland","Grenada","Guam","Guatemala","Guernsey","Guinea","Guinea Bissau","Guyana","Haiti","Honduras","Hong Kong","Hungary","Iceland","India","Indonesia","Iran","Iraq","Ireland","Isle of Man","Israel","Italy","Jamaica","Japan","Jersey","Jordan","Kazakhstan","Kenya","Kuwait","Kyrgyz Republic","Laos","Latvia","Lebanon","Lesotho","Liberia","Libya","Liechtenstein","Lithuania","Luxembourg","Macau","Macedonia","Madagascar","Malawi","Malaysia","Maldives","Mali","Malta","Mauritania","Mauritius","Mexico","Moldova","Monaco","Mongolia","Montenegro","Montserrat","Morocco","Mozambique","Namibia","Nepal","Netherlands","Netherlands Antilles","New Caledonia","New Zealand","Nicaragua","Niger","Nigeria","Norway","Oman","Pakistan","Palestine","Panama","Papua New Guinea","Paraguay","Peru","Philippines","Poland","Portugal","Puerto Rico","Qatar","Reunion","Romania","Russia","Rwanda","Saint Pierre &amp; Miquelon","Samoa","San Marino","Satellite","Saudi Arabia","Senegal","Serbia","Seychelles","Sierra Leone","Singapore","Slovakia","Slovenia","South Africa","South Korea","Spain","Sri Lanka","St Kitts &amp; Nevis","St Lucia","St Vincent","St. Lucia","Sudan","Suriname","Swaziland","Sweden","Switzerland","Syria","Taiwan","Tajikistan","Tanzania","Thailand","Timor L'Este","Togo","Tonga","Trinidad &amp; Tobago","Tunisia","Turkey","Turkmenistan","Turks &amp; Caicos","Uganda","Ukraine","United Arab Emirates","United Kingdom","Uruguay","Uzbekistan","Venezuela","Vietnam","Virgin Islands (US)","Yemen","Zambia","Zimbabwe"];

                            label.form-label(for="form_country") Country / Region
                            select.selectpicker.form-control(name="country", id="form_country", data-style="btn-selectpicker", title=" ", data-live-search="true")
                                each val, index in country_list
                                    option(value="country_#{index}") !{val}             

                        // Street
                        .form-group
                            label.form-label(for="form_street") Street Address
                            input.form-control(name="name", id="form_street")    
                        // City + State
                        .row
                            .col-md-6
                                .form-group
                                    label.form-label(for="form_city") City
                                    input.form-control(name="name", id="form_city")                                            
                            .col-md-6
                                .form-group
                                    label.form-label(for="form_state") State
                                    input.form-control(name="name", id="form_state")      
                        // ZIP Code
                        .row
                            .col-md-6
                                .form-group
                                    label.form-label(for="form_zip") ZIP Code
                                    input.form-control(name="name", id="form_zip")
                .row.form-block
                    .col-lg-4
                        h4 사진
                        //p.text-muted.text-sm #{dummyText[2]}
                    .col-lg-7.ml-auto

                        .form-group
                            #fileDropzone.dropzone(action='/upload' method="post" enctype= "multipart/form-data")
                                .dz-message.text-muted
                                    p 드래그하거나 클릭해서 사진을 업로드하세요

                        .d-none
                            .dz-preview.dz-file-preview
                                .dz-image
                                    img(data-dz-thumbnail='', alt='', src=`${path}img/logo-square.svg`)
                                .dz-details
                                    .dz-filename
                                        span(data-dz-name='')
                                    .dz-size(data-dz-size='')
                                .dz-progress
                                    span.dz-upload(data-dz-uploadprogress='')
                                .dz-success-mark
                                    span.dz-icon
                                        i.fa-check.fa
                                .dz-error-mark
                                    span.dz-icon
                                        i.fa-times.fa
                                .dz-error-message
                                    span(data-dz-errormessage='')
                +stepsAdd(1)


block additionalScripts
    // Dropzone.js
    script(src='vendor/dropzone/dropzone.js')
    // Dropzone Init
    script.
        Dropzone.options.fileDropzone = {
            paramName: 'file',
            maxFilesize: 2, // MB
            maxFiles: 5,
            acceptedFiles: 'image/*',
            autoProcessQueue: false,
            addRemoveLinks: true, // 삭제버튼 표시 여부
            dictRemoveFile: 'delete', // 삭제버튼 표시 텍스트

            init: function () {
                /* 최초 dropzone 설정시 init을 통해 호출 */
                var submitButton = document.querySelector("#btn-upload-file");
                var myDropzone = this; //closure
                submitButton.addEventListener("click", function () {
                    myDropzone.processQueue();
                });

            }
        }

