extends _pug-includes/layout.pug


block vars
    - var loggedUser = true

block content
       
    - var breadcrumbs = []
    - breadcrumbs.push({name: 'Home', link: 'index.html'})
    - breadcrumbs.push({name: 'Add new listing'})
    - var heroHeading = 'Add new listing'
    - var heroHeadingClass = 'hero-heading mb-5'
    
    //- include _pug-includes/inc-hero
    
    +progress(16)

    section.py-5
        .container

            +stepsHeading('Basic information', 1)

            form(action=`${path}user-add-2` method="post")
                .row.form-block
                    .col-lg-4
                        h4 기본정보
                        p.text-muted.text-sm 장소를 대표하는 카테고리를 선택하고, 공간을 선택해주세요.
                    .col-lg-7.ml-auto
                        .form-group
                            label.form-label(for="form_name") 이름
                            input.form-control(name="form_name", id="form_name", required)

                        .form-group
                            - var types = ['가볼만한곳','카페/디저트' ,'맛집', '쇼핑', '공연', '명소', '문화', '테마', '체험']
                            label.form-label(for="form_type") 카테고리
                            select.selectpicker.form-control(name="category", id="form_type", data-style="btn-selectpicker", title="", aria-describedby="propertyTypeHelp", required)
                                each val, index in types
                                    option(value=`${val}`) #{val}
                            //small#propertyTypeHelp.form-text.text-muted #{dummyText[5]}

                        .form-group
                            label.form-label 공간
                            select.selectpicker.form-control(name="door", id="door", data-style="btn-selectpicker", title="", aria-describedby="propertyTypeHelp", required)
                                option(value="0" selected) 실내
                                option(value="1") 야외
                                option(value="2") 실내 및 야외

                .row.form-block
                    .col-lg-4
                        h4 위치
                        p.text-muted.text-sm 당신이 공유하고자 하는 장소의 위치를 알려주세요.
                    .col-lg-7.ml-auto
                        .row
                            .col-md-4
                                .form-group
                                    label.form-label(for="sample6_postcode") 우편번호
                                    input.form-control#sample6_postcode(name = 'postcode', type='text', required)
                            .col-md-8
                                .form-group
                                    label.form-label &nbsp;
                                    input.form-control(type='button', onclick='sample6_execDaumPostcode()', value='우편번호 찾기', style="vertical-align: buttom")
                        .form-group
                            label.form-label(for="sample6_address") 주소
                            input.form-control#sample6_address(name='address', type='text', required)
                        .row
                            .col-md-8
                                .form-group
                                    label.form-label(for="sample6_detailAddress") 상세주소
                                    input.form-control#sample6_detailAddress(name='detailAddress', type='text')
                            .col-md-4
                                .form-group
                                    label.form-label(for="sample6_extraAddress") 참고항목
                                    input.form-control#sample6_extraAddress(type='text')
                                    input.d-none(id='latitude', type="text", name='latitude')
                                    input.d-none(id='longitude', type="text", name='longitude')
                .row.form-block
                    - var add = 0;
                    .col-lg-4
                        h4 시간
                        p.text-muted.text-sm 장소에 방문할 수 있는 요일과 시간을 설정해 주세요. <br/> 방문할 수 없는 요일은 체크를 해제하면 됩니다. <br/> 예시) 오전 12:00 / 오후 11:59  -> 24시간 <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;오전 12:00 / 오후 12:00  -> 낮 12시 까지
                    .col-lg-7.ml-auto#Date
                        .row
                            .col-md-6
                                .form-group
                                    label.form-label(for="open_time_0") 여는 시간
                                    input.form-control.open-time(type="time", name="oTime_0", id="open_time_0", value="00:00" required)
                            .col-md-6
                                .form-group
                                    label.form-label(for="close_time_0") 닫는 시간
                                    input.form-control.open-time(type="time", name="cTime_0", id="close_time_0", value="23:59" required)
                            .col-md-12
                                .form-group
                                    - var date = ['월', '화', '수', '목', '금', '토', '일']
                                    ul.list-inline.mb-0#DateList_0
                                        each val,index in date
                                            li.list-inline-item
                                                .custom-control.custom-checkbox
                                                    input.custom-control-input.date-check(type='checkbox', id=`date_${index}`, name=`date_${index}`, value=`${val}`, checked)
                                                    label.custom-control-label.text-muted(for=`date_${index}`) #{val}
                        .row.form-block.d-none
                            .form-group.d-none
                                input(id='openMon', type="text", name='openMon')
                                input(id='closeMon', type="text", name='closeMon')
                                br
                                input(id='openTue', type="text", name='openTue')
                                input(id='closeTue', type="text", name='closeTue')
                                br
                                input(id='openWed', type="text", name='openWed')
                                input(id='closeWed', type="text", name='closeWed')
                                br
                                input(id='openThu', type="text", name='openThu')
                                input(id='closeThu', type="text", name='closeThu')
                                br
                                input(id='openFri', type="text", name='openFri')
                                input(id='closeFri', type="text", name='closeFri')
                                br
                                input(id='openSat', type="text", name='openSat')
                                input(id='closeSat', type="text", name='closeSat')
                                br
                                input(id='openSun', type="text", name='openSun')
                                input(id='closeSun', type="text", name='closeSun')

                    .col-lg-7.ml-auto
                        .col-md-6(style="padding:0")
                            input.btn.btn-outline-primary.px-3#buttonDate(type="button", value = "시간 추가")
                +stepsAdd(1)


